/* Custom styles.*/
code {
    color: #ff7600;

    margin: 2px;
}
/* 大代码块的自定义样式*/
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(251, 251, 251, 0.9);  
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

/* 透明   background:url( ../themes/next/source/images/lanTingXu.jpg);   background:url( https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200527203641.png);  */
body {
    background:url(https://cdn.jsdelivr.net/gh/pengqi/img//pictures/20200625222653.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: cover;      /*填充*/
} 




/*圆角出现问题之解决方法*/
.sidebar {
box-shadow: none
background: none
}




//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.95;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.95;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.95;
}

